.ath_name {
  font-weight: bold;
}

.ath_details {
  margin-top: 10px;
}
.ath_details p {
  margin: 0;
}

.stats-graph {
  text-align: center;
}

.ath_profile{
  margin-top: 15px;
}

#ath_photo{
  max-width: 100px;
  max-height: 100px;
}

#select-profile-chart{
  margin-bottom: 15px;
}