#race {
    width:30%;
    float:left;
  }
  
  #venue {
    font-size: 50px;
  
  }
  
  #event {
    font-size: 25px;
  
  }
  
  #country {
    padding-top: 15px;
    font-size: 25px;
    width:30%;
    float:left;
    text-align:center;
  }
  
  
  #image {
    width:40%;
    float:right;
    height: 150px;
    text-align:right;
  }
  
  .ui-helper-center {
    text-align: center;
  }
  
  .ath-img {
    border-radius: 50%;
    max-width: 100px;
  }
  
  #flag img {
    border-radius: 0%;
    max-height: 95%;
    max-width: 95%;
  }
  
  #image img {
    vertical-align: middle;
    max-height: 95%;
    max-width: 95%;
    border-radius: 5%;
  }
  
  #container {
    height: 150px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #90A4AE;
    padding: 1em 0.5em;
    text-align: left;
  }
  
  td {
    padding: 0.5em 0 0 0.5em;
  }
  
  tr:nth-of-type(2n) {
    background-color: #ECEFF1;
  }