#interactive-rankings text {
    font-size: 16px;
}

#interactive-rankings text.title {
    font-size: 24px;
    font-weight: 500;
}

#interactive-rankings text.subTitle {
    font-weight: 500;
    fill: #777777;
}

#interactive-rankings text.caption {
    font-weight: 400;
    font-size: 14px;
    fill: #777777;
}

#interactive-rankings text.label {
    font-weight: 600;
}

#interactive-rankings text.valueLabel {
    font-weight: 300;
}

#interactive-rankings text.yearText {
    font-size: 64px;
    font-weight: 700;
    opacity: 0.25;
}

#interactive-rankings text.eventName {
    font-weight: 700;
    opacity: 0.25;
}

#interactive-rankings .tick text {
    fill: #777777;
}

#interactive-rankings .xAxis .tick:nth-child(2) text {
    text-anchor: start;
}

#interactive-rankings .tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
}

#interactive-rankings  .tick line.origin {
    stroke: #aaaaaa;
}

#interactive-rankings path.domain {
    display: none;
}