html, body {
    height: 100%;
    font-family: Open Sans, sans-serif;
    background-color: #eeeeff;
}

.full_height{
    height: 100%;
}

.headline{
    height: 5%;
}

.first_row{
    height: 40%;
}

.second_row{
    height: 37%;
}

.timeline_row{
    height: 5%;
}

.navdown_row{
    height: 3%;
}
#back{
    text-align: center;
}

#go{
    text-align: center;
}

#exlanations{
    background-color: white;
}