@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#venue {
  font-size: 50px;
}

#event {
  font-size: 25px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #90A4AE;
  padding: 1em 0.5em;
  text-align: left;
}

td {
  padding: 0.5em 0 0 0.5em;
}

tr:nth-of-type(2n) {
  background-color: #ECEFF1;
}